/* Common Button Styles */
.Button {
  font-size: 1rem;
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  background-color: #1A4D2E;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.Button:hover {
  background-color: #4F6F52;
  cursor: pointer;
}

.Wide {
  width: 100%;
}

.Bright {
  background-color: #F5EFE6;
  color: #1A4D2E;
}

.Bright:hover {
  background-color: #4F6F52;
  color: #ffffff;
}
