.CreateRecipeContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .FormLabel {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .FormControl {
    margin-bottom: 15px;
  }
  
  .SubmitButton {
    background-color: #516a52;
    color: white;
  }
  