.NavBar {
  background-color: #7fb9b9;
  border: 1px solid #5c8989;
}

.NavBar a {
  color: #ffffff !important;
  font-size: 1.2rem;
  padding: 7px;
  vertical-align: middle;
}

.NavBar i {
  color: #ffffff;
  font-size: 1rem;
  padding: 7px;
  vertical-align: middle;
}

.NavBar a:hover {
  text-decoration: underline;
}

.NavBar .Active {
  text-decoration: underline;
  font-weight: bold;
}


.profileToggle {
  color: #fff;
  background-color: #7fb9b9;
  font-size: 1.2rem;
  border: none;
}

.customDropdownMenu {
  background-color: #456464;
}


.customDropdownMenu .dropdown-item:hover {
  background-color: #456464;
}
