.NavBar {
  background-color: #1A4D2E;
  border: 1px solid #dadadf;
}

.NavBar a {
  color: #ffffff !important;
  font-size: 1.2rem;
  padding: 7px;
  vertical-align: middle;
}

.NavBar a:hover {
  text-decoration: underline;
}

.NavBar .Active {
  text-decoration: underline;
  font-weight: bold;
}
