.profileCard {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
}

.profilePage {
  padding: 20px;
}

/* Profile Information */
.profileInfo {
  text-align: center;
  margin-bottom: 20px;
}

.profileImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.profileImage:hover {
  transform: scale(1.05);
}

/* .profileInfo h4 {
  color: rgba(252, 199, 8, 0.928);
  margin-bottom: 10px;
  font-size: 1.5rem;
} */

/* .profileInfo p {
  color: #2c5555;
  font-size: 1rem;
} */

.profileStats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  color: #2c5555;
}

.profileStats div {
  text-align: center;
}


/* Recipes Section */
.recipesSection {
  margin-top: 20px;
}

.recipesGrid {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.loaderContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Responsive Adjustments */

/* For medium screens (1024px and below) */
@media (max-width: 1024px) {
  .recipesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For small screens (768px and below) */
@media (max-width: 768px) {
  .recipesGrid {
    grid-template-columns: 1fr;
  }
  
  .profileCard {
    padding: 15px;
  }

  .profileImage {
    width: 120px;
    height: 120px;
  }

  .profileInfo h4 {
    font-size: 1.25rem;
  }

  .profileInfo p {
    font-size: 0.875rem;
  }

  .followButton {
    padding: 6px 12px;
  }

  .recipesSection h3 {
    font-size: 1.125rem;
  }

  .recipesSection p {
    font-size: 0.875rem;
  }
}
