.RecipeFeed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .RecipeFeed {
      scroll-snap-type: y mandatory;
      overflow-y: auto;
      height: 100vh;
    }
  
    .RecipeCard {
      scroll-snap-align: start;
    }
  }
  