/* Common Form Styles */
.Row {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background-color: #F5EFE6;
  padding-top: 0;
}

.Header {
  font-size: 2rem;
  color: #3e7979;
  text-align: center;
  margin-bottom: 20px;
}

.Input {
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #ffffff;
  margin-bottom: 15px;
  transition: border 0.3s ease;
}

.Input:focus {
  border-color: #4F6F52;
  outline: none;
}

.SignInCol, .SignUpCol {
  background-color: #E8DFCA;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.FillerImage {
  width: 100%;
  height: auto;
  box-shadow: none;
}

.Link {
  text-align: center;
  font-size: 1rem;
  color: #3e7979;
}

.Link span {
  font-weight: bold;
  color: #3e7979;
}

@media (max-width: 768px) {
  .SignInCol, .SignUpCol {
    border-radius: 0;
    padding: 20px;
  }

  .Header {
    font-size: 1.5rem;
  }

  .Input {
    padding: 8px 15px;
  }

  .FillerImage {
    display: none;
  }
}
