
.App {
  font-family: "Roboto", sans-serif;
  background-color: #F5EFE6;
  min-height: 100vh;
  min-width: 100vw;
  color: #202020;
  padding-bottom: 20px;
}

.Main {
  padding-top: 80px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Vollkorn', serif; */
  color: #2c5555;
}

h1 {
  font-weight: 700;
}

h2, h3, h4, h5, h6 {
  font-weight: 400;
}


.Content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
}

@media (min-width: 768px) {
  .Content {
    max-width: 500px;
    margin: auto;
  }
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

a {
  color: #555555;
  transition: color 0.3s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

input[type="file"] {
  display: none;
}

i {
  color: #cfced3;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

/* i:hover {
  cursor: pointer;
} */


.alertMessage {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.successMessage {
  background-color: #d4edda;
  color: #155724;
}

.errorMessage {
  background-color: #f8d7da;
  color: #721c24;
}


figure {
  text-align: center;
  display: inline-block;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
